@import url(http://fonts.googleapis.com/css?family=Roboto);
@import './my_bulma.scss';

:root {
    box-sizing: border-box
}

body {
    overflow: visible !important;
}

.scenes {
    margin: 2em
}

.scene-create-button {
    margin-left: 1em
}

.main-title {
    margin-left: 0.5em;
    margin-top: 0.5em
}

.graph-container {
    margin: 2em;
    border: 1px solid rgb(110, 110, 110);
    height: 50em;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;
}

:focus,
div {
    outline: none;
    border: none
}

.disabled {
    pointer-events: none
}

.raise:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: var(--color);
    transition: 0.25s;
    &:focus {
        border-color: var(--hover);
        color: rgb(0, 0, 0);
    }
}

$colors: ( raise: #000000, );
@each $button,
$color in $colors {
    .#{$button} {
        --color: #{$color};
        --hover: #{adjust-hue($color, 5deg)};
    }
}

// overwrite @material_ui styling

.jss37 div {
    width: 250,
}
